streamlit<=1.40
opencv-python
numpy
Pillow
rembg
onnxruntime
trimesh
scikit-image
git+https://github.com/nicolai-wachenschwan/streamlit-drawable-canvas.git
scipy
stpyvista
pyvista<0.45.0
vtk
manifold3d
requests
